body{
  display:grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto auto auto auto;
  grid-template-areas:
  "header"
  "content"
  "aside"
  "footer";

  font-size: 1.4em;
  margin: 0px;
  padding: 0px;
}
a{
  text-decoration:none;
  color: black;
}

@media(min-width: 720px){
  body{
    grid-template-columns: 1fr 4fr 4fr;
    grid-auto-rows: auto auto auto;
    grid-template-areas:
    "aside header header"
    "aside content filler"
    "aside footer footer";
  }
  aside{
    padding: 5px;
  }
}
@media(min-width: 1200px){
  body{
    grid-template-columns: 1fr 4fr 4fr;
    grid-auto-rows: auto minmax(850px, 1fr) auto;
    grid-template-areas:
    "header header header"
    "aside content content"
    "footer footer footer";
  }
}

header{
  grid-area: header;
  background: red;
}
main{
  grid-area: content;
  background: orange;
  padding:50px;
}
footer{
  grid-area: footer;
  background: yellow;
  padding: 5px 30px;
  text-align: center;
  font-size: 0.8em;
}
aside{
  padding: 5px;
  grid-area: aside;
  background: green;
  border: 1px solid black;
  text-align: center;
}
nav{
    border: 1px solid black;
    padding: 30px;
}
ul{
  margin: 30px 100px 60px 100px;;
  padding: 0px;
  border: 1px solid black;
}
ul>li{
  display: inline;
  float:right;
  margin: 15px;
}
ul>li:hover{
  text-decoration: underline;
}
ul>li:first-child{
  float: left;
  font-size: 1.5em;
}
